.ibm-cards-list--title {
  margin: 0 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.card--container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  position: relative;
  min-width: 285px;
  background-color: #f5f5f5;
  transition: 0.4s;
}

.card--body > .body--details {
  margin-top: 20px;
  min-height: 150px;
  line-height: 20px;
  overflow: hidden;
  padding: 20px;
}

.card--body > .body--footer {
  text-align: right;
  padding: 20px;
}

.card-footer--section div {
  text-align: left;
  font-weight: bold;
  line-height: 20px;
}

.card-footer--section .left-section--text,
.card-footer--section .right-section--text {
  overflow: hidden;
}

.card-footer--section .right-section--text {
  text-align: right;
}

.card--body > .body--footer a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(59, 108, 170);
}

.library-card--container {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
  position: relative;
}

.library-card--header {
  text-align: center;
}

.card--body > .body--title {
  min-height: 90px;
  overflow: hidden;
  margin-bottom: 25px;
  background-color: #0f62fe;
  padding: 20px;
}

.card--body > .body--title > span {
  color: #fff;
  height: 52px;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
